html,
body {
  padding: 0;
  margin: 0;
}
.wrap {
  font: 14px Arial, san-serif;
}

body {
  background-color: #f1f1f1;
}

#header {
  width: 100%;
  z-index: 0;
}

#logo_lmu {
  position: absolute;
  z-index: 1;
  width: 160px;
  left: 100%;
  margin-left: -420px;
  margin-top: -85px;
}

#logo_stanford {
  position: absolute;
  width: 200px;
  left: 100%;
  margin-left: -230px;
  margin-top: -85px;
  z-index: 2;
}

h1 {
  margin-left: 10px;
  font-family: Raleway;
  font-weight: 400px;
}

h2 {
  margin-left: 10px;
  font-size: 18px;
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

hr {
  margin-top: 1px;
  margin-bottom: 5px;
}

p {
  margin-left: 20px;
  font-family: sans-serif;
}

br {
  line-height: 150%;
}

#team_sentence {
  font-size: 17px;
}

form {
  display: inline-block;
}

#current_statement {
  position: fixed;
  display: relative;
  font-size: 16px;
  top: 65%;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.middle {
  width: 70%;
}

.right {
  width: 5%;
}

.statement_wrapper {
  display: block;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.statement_box {
  width: 600px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input score {
  padding: 100px 100px 100px;
}

#admin_headline {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#admin_buttons {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#finished {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px; /* this is half the height of your div*/
  margin-left: -100px; /*this is half of width of your div*/
  display: none;
}

.radio_group input[type="radio"] {
  opacity: 0;
}

.radio_group input[type="radio"] + label {
  cursor: pointer;
  padding: 8px 8px;
  background: rgb(255, 255, 255);
  color: rgb(155, 155, 155);
  border-radius: 20px;
  border: 1px solid #ffffff;
}

.radio_group input[type="radio"]:hover + label {
  /* style for the checked/selected state */
  background: #f7fbff;
  border: 1px solid #b9b9b9;
  color: #e2e2e2;
}

.radio_group input[type="radio"]:checked + label {
  /* style for the checked/selected state */
  background: rgb(209, 209, 209);
  border: 1px solid #969696;
  color: #ffffff;
}

.radio_group {
  display: relative;
  float: left;
  margin-left: 25px;
  margin-bottom: 20px;
}

.radio_group label {
  display: inline-block;
  text-align: center;
  padding: 0px;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.radio_group [id^="q"][id$="_0"] + label {
  background: #ffaaaa;
}

.radio_group [id^="q"][id$="_1"] + label {
  background: #ffc3c3;
}

.radio_group [id^="q"][id$="_2"] + label {
  background: #ffd7d7;
}

.radio_group [id^="q"][id$="_3"] + label {
  background: #ffdfdf;
}

.radio_group [id^="q"][id$="_4"] + label {
  background: #ffffff;
}

.radio_group [id^="q"][id$="_5"] + label {
  background: #eeffe6;
}

.radio_group [id^="q"][id$="_6"] + label {
  background: #ddffd0;
}

.radio_group [id^="q"][id$="_7"] + label {
  background: #cfffc0;
}

.radio_group [id^="q"][id$="_8"] + label {
  background: #beffab;
}

#disagree {
  display: inline-block;
  margin-top: 10px;
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  width: 100px;
}

#light_disagree {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  margin-left: 13px;
  width: 100px;
}

#unrelated {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  margin-left:13px;
  width: 100px;
}

#light_agree {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  margin-left: 13px;
  width: 100px;
}

#agree {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  margin-left: 13px;
  width: 100px;
}

input[type="button"],
button[type="button"] {
  background-color: #64b4f0;
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-top: 20px;
}

input[type="button"]:hover,
button[type="button"]:hover {
  background-color: white;
  color: #64b4f0;
}
