<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Basic Bootstrap Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/style.css")

    }}">
  </head>
  <body>
    <button onclick="location.href='./get_data'" type="button">
      Download Data
    </button>
    <button onclick="location.href='./clear_data'" type="button">
      Clear Data
    </button>
    <button onclick="location.href='./get_log'" type="button">
      Download Log
    </button>
    <button onclick="location.href='./generate'" type="button">
      Generate Graphs
    </button>
    <button onclick="window.open('./')" type="button">Open Tool</button>
  </body>
</html>
